html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--font-inter);
  background: var(--background);
  color: var(--text-color);

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
